{% extends "base.html" %}
{% block title %}Cadastro de Usuários{% endblock %}
{% block head %}
<script>
  function toggleSenha() {
    const tipoUsuario = document.getElementById("tipo_usuario").value;
    const senhaField = document.getElementById("senha");
    if (tipoUsuario === "administrador") {
      senhaField.required = true;
      senhaField.parentElement.classList.remove("hidden");
    } else {
      senhaField.required = false;
      senhaField.parentElement.classList.add("hidden");
      senhaField.value = "";
    }
  }
  window.onload = toggleSenha;
</script>
{% endblock %}
{% block content %}
<div class="row-container">
  <!-- Formulário de cadastro -->
  <div class="cadastro-container">
    <h2>Cadastro de Usuários</h2>
    <form action="{{ url_for('cadastro_post') }}" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
      <div class="hidden">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
      </div>
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" required pattern="\d{11}" title="Digite um CPF válido (11 dígitos)">
      <label for="tipo_usuario">Perfil do Usuário:</label>
      <select id="tipo_usuario" name="tipo_usuario" required onchange="toggleSenha()">
        <option value="colhedor" selected>Colhedor</option>
        <option value="administrador">Administrador</option>
      </select>
      <button type="submit">Cadastrar</button>
    </form>
  </div>
  <!-- Lista de usuários -->
  <div class="lista-usuarios-container">
    <h2>Usuários Cadastrados</h2>
    <table>
      <thead>
        <tr>
          <th>
            <a href="{{ url_for('cadastro', sort='nome', order=new_order, page=page) }}">
              Nome
              {% if sort == 'nome' %}
                <span class="sort-icon">{{ '▲' if order=='asc' else '▼' }}</span>
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{{ url_for('cadastro', sort='cpf', order=new_order, page=page) }}">
              CPF
              {% if sort == 'cpf' %}
                <span class="sort-icon">{{ '▲' if order=='asc' else '▼' }}</span>
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{{ url_for('cadastro', sort='tipo_usuario', order=new_order, page=page) }}">
              Tipo de Usuário
              {% if sort == 'tipo_usuario' %}
                <span class="sort-icon">{{ '▲' if order=='asc' else '▼' }}</span>
              {% endif %}
            </a>
          </th>
          <th>
            <a href="{{ url_for('cadastro', sort='data_inclusao', order=new_order, page=page) }}">
              Data de Registro
              {% if sort == 'data_inclusao' %}
                <span class="sort-icon">{{ '▲' if order=='asc' else '▼' }}</span>
              {% endif %}
            </a>
          </th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.cpf }}</td>
          <td>{{ usuario.tipo_usuario }}</td>
          <td>{{ usuario.data_inclusao }}</td>
          <td>
            <form action="{{ url_for('excluir_usuario', usuario_id=usuario.cpf) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      {% if page > 1 %}
        <a href="{{ url_for('cadastro', sort=sort, order=order, page=page-1) }}">Anterior</a>
      {% endif %}
      <span>Página {{ page }}</span>
      {% if has_next %}
        <a href="{{ url_for('cadastro', sort=sort, order=order, page=page+1) }}">Próxima</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
